body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: rgba(221, 221, 233, 0.51);
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}


.rodape{
    position: absolute;
    width: 100%;
    left:0px;
    bottom:0px;
    height:75px;
    /*background-color: rgb(172, 183, 189);*/
    background: linear-gradient(#a6a4a0, #a09e9a, #a6a4a0);
    margin: 0 auto;
    border-top: solid;
    border-width: 1px;
    border-color: #798185;
}


.container-dentro {
    width: auto;
    padding: 30px;
    margin: auto;
    background-color: rgb(251, 247, 251);
    border: solid;
    border-radius: 4px;
    border-color: rgba(137, 158, 182, 0.43);
    border-width: 1px;
}
